<div class="bg-black">
<div class="pt-6 py-1">
  <!-- Title -->
  <div class="text-center">
    <h1 class="text-2xl font-bold tracking-tight text-white sm:text-3xl">Wecome to RAthelete, your personal trainering group</h1>
  </div>

  <!-- Image gallery -->
  <div class="mx-auto mt-6 max-w-2xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:gap-x-8 lg:px-8">
    <div class="aspect-h-4 aspect-w-3 animate-slide-from-left hidden overflow-hidden rounded-lg lg:block">
      <img src="https://firebasestorage.googleapis.com/v0/b/protofolio-44836.appspot.com/o/showpic1.jpg?alt=media&token=7a011d60-0b35-4c8e-9af4-f486a34db7b7" alt="Two each of gray, white, and black shirts laying flat." class="h-full w-full object-cover object-center">
    </div>
    <div class="hidden lg:grid lg:grid-cols-1 lg:gap-y-8">
      <div class="aspect-h-2 aspect-w-3 overflow-hidden animate-slide-from-top rounded-lg">
        <img src="https://firebasestorage.googleapis.com/v0/b/protofolio-44836.appspot.com/o/showpic2.jpg?alt=media&token=a09ff32b-31ef-46c0-b31a-10ac962f6884" alt="Model wearing plain black basic tee." class="h-full w-full object-cover object-center">
      </div>
      <div class="aspect-h-2 aspect-w-3 overflow-hidden animate-slide-from-bottom rounded-lg">
        <img src="https://firebasestorage.googleapis.com/v0/b/protofolio-44836.appspot.com/o/showpic3.jpg?alt=media&token=8f52ee60-3c53-4f86-b4df-65a308930974" alt="Model wearing plain gray basic tee." class="h-full w-full object-cover object-center">
      </div>
    </div>
    <div class="aspect-h-5 aspect-w-4 lg:aspect-h-4 lg:aspect-w-3  animate-slide-from-right sm:overflow-hidden sm:rounded-lg">
      <img src="https://firebasestorage.googleapis.com/v0/b/protofolio-44836.appspot.com/o/showpic4.jpg?alt=media&token=cdcb0e87-38d3-4fbc-aaf5-b237200bc364" alt="Model wearing plain white basic tee." class="h-full w-full object-cover object-center">
    </div>
  </div>
</div>
</div>
