<nav class="bg-black p-2">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo -->
    <div class="flex px-5">
      <img class="h-13 w-13 object-cover xl h-16 transition duration-500 hover:scale-105 w-20" alt="Logo"   src="https://firebasestorage.googleapis.com/v0/b/protofolio-44836.appspot.com/o/logo3.png?alt=media&token=9f5c39e5-b020-4be5-bd87-8736445aea3d">
    </div>

    <!-- Navigation Links -->
    <div class="hidden md:flex space-x-4 absolute left-1/2 transform -translate-x-1/2">
      <a href="/" class="text-gray-300 transition duration-500 hover:scale-105 hover:text-white">Home</a>
      <a href="chest" class="text-gray-300 transition duration-500 hover:scale-105 hover:text-white">Chest</a>
      <a href="biceps" class="text-gray-300 transition duration-500 hover:scale-105 hover:text-white">Biceps</a>
      <a href="triceps" class="text-gray-300 transition duration-500 hover:scale-105 hover:text-white">Triceps</a>
      <a href="back" class="text-gray-300 transition duration-500 hover:scale-105 hover:text-white">Back</a>
      <a href="legs" class="text-gray-300 transition duration-500 hover:scale-105 hover:text-white">Legs</a>
      <a href="shoulder" class="text-gray-300 transition duration-500 hover:scale-105 hover:text-white">Shoulder</a>
      <a href="abs" class="text-gray-300 transition duration-500 hover:scale-105 hover:text-white">Abs</a>
      <a href="map" class="text-gray-300 transition duration-500 hover:scale-105 hover:text-white">Map</a>
    </div>

    <!-- Login Button and Mobile Menu Button -->
    <div class="flex items-center  space-x-4  px-5">
      <a href="login" class="hidden transition duration-500 hover:scale-105 md:block text-gray-300 hover:text-white">Login</a>
      <div class="md:hidden flex items-e">
        <button (click)="toggleMenu()" id="menu-button" class="text-gray-300 focus:outline-none">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div id="mobile-menu" class="hidden md:hidden">
    <a href="/" class="block px-2 py-1 text-sm text-gray-300 hover:text-white">Home</a>
    <a href="chest" class="block px-2 py-1 text-sm text-gray-300 hover:text-white">Chest</a>
    <a href="biceps" class="block px-2 py-1 text-sm text-gray-300 hover:text-white">Biceps</a>
    <a href="triceps" class="block px-2 py-1 text-sm text-gray-300 hover:text-white">Triceps</a>
    <a href="back" class="block px-2 py-1 text-sm text-gray-300 hover:text-white">Back</a>
    <a href="legs" class="block px-2 py-1 text-sm text-gray-300 hover:text-white">Legs</a>
    <a href="shoulder" class="block px-2 py-1 text-sm text-gray-300 hover:text-white">Shoulder</a>
    <a href="abs" class="block px-2 py-1 text-sm text-gray-300 hover:text-white">Abs</a>
    <a href="login" class="block px-2 py-1 text-sm text-gray-300 hover:text-white">Login</a>
  </div>
</nav>