html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .content-wrapper {

    min-height: 600px;

  }
  
  app-footer {
    flex-shrink: 0;
  }
  