<div class="container mx-auto px-4">
    <h1 class="text-3xl font-bold mb-4">Chest Exercises</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <!-- Loop through chest exercises -->
        <ng-container *ngFor="let exercise of chestExercises">
            <div *ngIf="exercise.category === 'Chest'" class="bg-white p-4 rounded-md shadow-md">
                <img [src]="exercise.gifUrl" [alt]="exercise.name" class="w-full h-auto mb-4">
                <h2 class="text-xl font-semibold mb-2">{{ exercise.name }}</h2>
                <p class="text-gray-600">{{ exercise.description }}</p>
            </div>
        </ng-container>
    </div>
</div>
