<div class="container aimate-slide-from-bottom mx-auto px-4">
    <h1 class="text-3xl font-bold animate-slide-from-left mb-4">Biceps Exercises</h1>
    <div class="grid grid-cols-1 animate-slide-from-bottom  md:grid-cols-2 lg:grid-cols-3 gap-4">
        <!-- Loop through Biceps exercises -->
        <ng-container *ngFor="let exercise of bicepsExercises">
            <div *ngIf="exercise.category === 'Biceps'" class="bg-white p-4 rounded-md shadow-md">
                <img [src]="exercise.gifUrl" [alt]="exercise.name" class="w-full h-auto mb-4">
                <h2 class="text-xl font-semibold mb-2">{{ exercise.name }}</h2>
                <p class="text-gray-600">{{ exercise.description }}</p>
            </div>
        </ng-container>
    </div>
</div>