<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-7xl w-full space-y-8">
      <div>
        <h2 class="mt-2 text-center text-4xl font-extrabold text-gray-900">
          Choose Your Plan
        </h2>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Free Plan -->
        <div class="max-w-sm w-full bg-white shadow-md rounded-lg overflow-hidden">
          <div class="bg-cover h-56 p-4 flex items-center justify-center" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/rathletes-cd51c.appspot.com/o/alone.jpg?alt=media&token=0108efe8-4aca-4100-92fe-f11cc8098234')">
            <h3 class="text-black text-3xl font-bold">Free Plan</h3>
          </div>
          <div class="p-6">
            <p class="text-xl font-semibold text-gray-900">0 lessons a week</p>
            <p class="text-lg text-gray-600">$0/month</p>
            <a href="/signup" class="mt-6 w-full flex justify-center py-3 px-4 border border-transparent text-lg font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Choose Plan</a>
          </div>
        </div>
        <!-- Standard Plan -->
        <div class="max-w-sm w-full bg-white shadow-md rounded-lg overflow-hidden">
          <div class="bg-cover h-56 p-4 flex items-center justify-center" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/rathletes-cd51c.appspot.com/o/trainer.webp?alt=media&token=4dca32a6-b850-451b-b588-684947e6e0dd')">
            <h3 class="text-white text-3xl font-bold">Standard Plan</h3>
          </div>
          <div class="p-6">
            <p class="text-xl font-semibold text-gray-900">2 lessons a week</p>
            <p class="text-lg text-gray-600">$50/month</p>
            <a href="/signup" class="mt-6 w-full flex justify-center py-3 px-4 border border-transparent text-lg font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Choose Plan</a>
          </div>
        </div>
        <!-- Premium Plan -->
        <div class="max-w-sm w-full bg-white shadow-md rounded-lg overflow-hidden">
          <div class="bg-cover h-56 p-4 flex items-center justify-center" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/rathletes-cd51c.appspot.com/o/trainers.jpg?alt=media&token=8bbf5d65-6af5-47a2-824d-99583b0173ba')">
            <h3 class="text-white text-3xl font-bold">Premium Plan</h3>
          </div>
          <div class="p-6">
            <p class="text-xl font-semibold text-gray-900">5 lessons a week</p>
            <p class="text-lg text-gray-600">$100/month</p>
            <a href="/signup" class="mt-6 w-full flex justify-center py-3 px-4 border border-transparent text-lg font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Choose Plan</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  